extends layout

block content
 h1= title

 - let dogid = toShow._id
 - let breed= toShow.breed
 - let age = toShow.age
 - let name = toShow.name
    
  div
    div.row
      div(class='dogAttr mr-3') dog ID is:
      div #{dogid}
    div.row
      div(class='dogAttr mr-3') breed is:
      div(class='dogDetailAttr') #{breed}
    div.row
      div(class='dogAttr mr-3') age is:
      div(class='dogDetailAttr') #{age}
    div.row
      div(class='dogAttr mr-3') name is:
      div(class='dogDetailAttr') #{name}